[package]
name = "stow-cm"
version = "0.12.0"
authors = ["someone"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
same-file = "1"
toml = "0"
serde = { version = "1", features = ["derive"] }
shellexpand = "3"
tokio = { version = "1", features = ["full"] }
anyhow = { version = "1", features = ["backtrace"] }
log = { version = "0" }
env_logger = "0"
futures = "0"
walkdir = "2"
async-trait = "0"
const_format = {version = "0"}
crypto = { version = "0", features = ["aead", "cipher", "digest", "elliptic-curve"] }
ring = { version = "0", features = ["std"] }
base64 = "0"
lazy_static = "1"
clap = { version = "4", features = ["derive"] }
num_cpus = "1"
sha3 = "0"
maplit = "1"

# ignore = "0"
# xattr = "0"

[dependencies.regex]
version = "1"
default-features = true
# features = ["std"]

[profile.release]
opt-level = "s"
lto = true
panic = "abort"
# options["none", "debuginfo", "symbols", true, false]
# the default is "none", true = "symbols", false = "none"
strip = true
